.c-Btn {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 23px;
    height: fit-content;
    white-space: nowrap;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;

    &__Arrow {
        padding-left: 10px;
    }

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.8;
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

    &--stripe-purple {
        color: white;
        background-color: $stripe-purple;
        border: 1px solid $stripe-purple;
    }

    &--stripe-purple-empty {
        color: $stripe-purple;
        background-color: transparent;
        border: 1px solid transparent;
    }

    &--stripe-purple-border {
        background-color: white;
        border: 1px solid $stripe-purple;
        color:  $stripe-purple;
    }

    &--stripe-primary {
        color: white;
        background-color: $stripe-primary;
        border: 1px solid $stripe-primary;
    }

    &--empty {
        background-color: transparent;
        color: $stripe-primary;
        border: 1px solid transparent;
    }

    &--disabled {
        cursor: not-allowed !important;
        opacity: 0.7;
    }
}